.centrado{
    margin-left: 43%;
    font-family: system-ui;
}

.btn{
    width: 188px;
    height: 60px;
    font-family: system-ui;
    font-size: 20px;
    background-color: #b6fbb6;
    border-radius: 14px;
}

#container{
    display: none;
}